<!DOCTYPE html>
<html lang="en">

<head lang="en" th:replace="head :: head"></head>

<body>
	<div lang="en" th:replace="header :: header"></div>
	<div
		class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">Welcome to Our Exclusive Pet Store</h1>
		<h2 class="subHeader">You Have Successfully Logged Out!</h2>
		<p>Thank you for visiting. To access our premium features, please Sign Up or Sign In.</p>
		<div id="banner">
			<img class="unique-banner" src="content/banner.png" />
		</div>
	</div>
	<div lang="en" th:replace="footer :: footer"></div>
	<div lang="en" th:replace="disclaimer :: disclaimer"></div>
</body>

</html>
