<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div th:fragment="footer">

		<div class="container">
			<footer class="pt-4 my-md-5 pt-md-5 border-top">
				<div class="row">
					<div class="col-12 col-md">
					
					</div>
					<div class="col-6 col-md">
						<h5 style="color: #333;">Shop Dogs</h5>
						<ul class="list-unstyled text-small">
							<li><a class="text-muted" href="/dogbreeds" style="color: #666;">Dog Breeds</a></li>
							<li><a class="text-muted" href="#" style="color: #666;">Dog Toys</a></li>
							<li><a class="text-muted" href="#" style="color: #666;">Dog Food</a></li>
						</ul>
					</div>
					<div class="col-6 col-md">
						<h5 style="color: #333;">Shop Cats</h5>
						<ul class="list-unstyled text-small">
							<li><a class="text-muted" href="#" style="color: #666;">Cat Toys</a></li>
							<li><a class="text-muted" href="#" style="color: #666;">Cat Food</a></li>
						</ul>
					</div>
					<div class="col-6 col-md">
						<h5 style="color: #333;">Shop Fish</h5>
						<ul class="list-unstyled text-small">
							<li><a class="text-muted" href="#" style="color: #666;">Fish Toys</a></li>
							<li><a class="text-muted" href="#" style="color: #666;">Fish Food</a></li>
						</ul>
					</div>
				</div>
			</footer>
		</div>

	</div>
</body>
</html>

